public/** linguist-vendored
vendor/** linguist-vendored
node_modules/** linguist-vendored
resources/views/** linguist-language=Blade
*.blade.php linguist-language=Blade
dist/** linguist-generated
*.lock linguist-generated*.html linguist-vendored
